body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif;
  background-image: url("https://i.imgur.com/xwQ9ZM7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background: #e8e7e7;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#title {
  text-align: center;
  color: #3d352e;
  margin-top: 45px;
  font-size: 2.5em;
  margin-bottom: 10px;
}

#description {
  text-align: center;
  color: #666;
  margin-bottom: 60px;
  font-size: 1.2em;
}

#survey-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
  font-family: "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  font-family: inherit;
}

label,
legend {
  font-weight: bold;
  margin-bottom: px;
  display: block;
  color: #333;
  padding: 5px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 0;
  
}

fieldset label {
  display: inline-block;
  margin-right: 20px;
}

.checkbox-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 20px;
}


.checkbox-option input {
  margin-right: 8px;
}

textarea {
  resize: vertical;
  min-height: 80px;
  
}

.help-text {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
  
}

#submit {
  padding: 12px;
  background-color: #705f53;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 20px;
  font-family: "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif;
}

#submit:hover {
  background-color: #928073;
}

footer {
  text-align: center;
  color: #3d352e;
  margin-top: 30px;
  font-size: 0.9em;
}

a {
  color: rgb(135, 86, 51);
}

a:hover {
  color: rgb(193, 131, 92);
}

a:visited {
  color: rgb(109, 60, 110);
}


/* Responsive */
@media (max-width: 600px) {
  #title {
    font-size: 2em;
  }

  #description {
    font-size: 1em;
  }

  #survey-form {
    padding: 0 10px;
  }

  .checkbox-option {
    display: block;
    margin-bottom: 10px;
  }

  fieldset label {
    display: block;
    margin-bottom: 10px;
  }
}
